@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

p{
    margin-left:470px;
    margin-right:470px;
}
.footer {margin-bottom:0px;
        position: fixed;}
