@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

.man{
    margin-left: 550px;   
}

h2{
    margin-left:550px;
}

p{
    margin-left:550px;
    margin-right:550px;
}
